#hero {
  width: 100%;
  max-width: 1440px;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
}

.container {
  width: 100%;
  max-width: 1170px;
  margin: 0px auto;

  @media screen and (max-width: 1170px) {
    padding: 0 10px;
  }
}

* {
  box-sizing: border-box;
  padding: 0px;
}

body {
  margin: 0px;
  position: relative;
}

/* ----- FORM DROPDOWN PROPERTIES -----*/

#selectlocation {
  width: 100%;
}

select {
  border-radius: 4px;
  background-color: white;
  border: 1px solid #eeeeee;
  color: black;
  font-size: 16px;
  line-height: 17px;
  padding: 20px 32px 24px 24px;
  font-family: "open-sans", sans-serif;
}

/* ------ 1ST PORTION -------- */

.topheadingcontainer {
  display: flex;
  justify-content: space-between;
}

.topheadingwrapper {
  margin-top: 120px;
  margin-bottom: 80px;
  width: 500px;
}

.bgimg {
  width: 100%;
}
.mainimage {
  margin-bottom: 120px;
  position: relative;

  img {
    width: 100%;
  }
}

.mainimage__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
/* ----- FORM SECTION -----*/

.formcontainer {
  display: flex;
  flex-direction: column;
  width: 500px;
  padding: 0 40px 40px 40px;
  background-color: white;
  border: 1px solid #eeeeee;
  border-radius: 100px 5px 5px 5px;
  position: relative;
  top: -300px;
}

.formlayout {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  width: 420px;
}

.input {
  width: 100%;
  margin-top: 16px;
  height: 56px;
  padding-left: 24px;
  outline: none;
}

.input5 {
  margin-bottom: 16px;
}

.borderinput {
  border-radius: 4px;
  background-color: white;
  border: 1px solid #eeeeee;
}

/* ----- ABOUT US SECTION ----- */

.aboutusmaincontainer {
  padding-bottom: 120px;
}

.aboutuscontainer {
  margin-left: 70px;
  margin-top: 104px;
  padding-top: 120px;
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 1100px) {
    flex-direction: column;
  }
}

.bgset1 {
  position: absolute;
  background-color: #fab91c;
  opacity: 10%;
  border-top-right-radius: 100px;
  width: 605px;
  height: 583px;
  left: 0;
  top: 1458px;
  z-index: -1;
}

.wrapperimg {
  background-image: url(/Assets/Img.png);
  background-position: center;
  background-size: cover;
  max-width: 500px;
  width: 500px;
  height: 667px;

  @media screen and (max-width: 1000px) {
    margin-right: 0;
  }
}

.aboutuswrapper {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 430px;

  @media screen and (max-width: 1100px) {
    height: unset;
    text-align: center;
  }
}

.headingtext1 {
  margin: 0px;
  margin-top: 80px;
}
.ptextright {
  margin-left: 100px;
}

.text1 {
  margin-top: 60px;
}

.text2 {
  margin-top: 40px;
  margin-bottom: 80px;
}

.hyperlink {
  color: #fab91c;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: bold;
}

/* ----- OUR SERVICES SECTION ----- */

.servicecontainer {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  background-color: #f9fafb;
  border-top-left-radius: 80px;
}

.servicestext {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  margin: 100px 0 0 0;
  width: 500px;
}

.service__copy {
  margin-left: 100px;
}

.servicebutton {
  max-width: 309px;
  margin-top: 100px;
}

.gridcontainer {
  max-width: 570px;
  width: 100%;
  position: relative;
  top: -100px;
}

.gridsection1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.gridsection2 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media screen and (max-width: 600px) {
  .gridsection1,
  .gridsection2 {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f9fafb;
  max-width: 270px;
  width: 100%;
  height: 270px;
  border: 10px solid white;
  margin: 5px;
}

.grid1 {
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 10px;
}

.grid2 {
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
}

@media screen and (max-width: 600px) {
  .grid1,
  .grid2 {
    max-width: unset;
    border-radius: 10px;
  }
}

/* ---- GALLERY SLIDESHOW SECTION -----*/

.gallerymaincontainer {
  position: relative;
  height: 700px;
}

.bgset2 {
  width: 935px;
  height: 764px;
  border-top-right-radius: 100px;
  position: absolute;
  background-color: #fab91c;
  opacity: 10%;
  left: 0;
  top: 0;
  z-index: -1;
}

.gallerycontainer {
  margin-top: 120px;
}

.gallerywrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 135px;
}

.galleryheading {
  margin: 0px;
  margin-bottom: 80px;
}

.imagegallery {
  display: flex;
  margin-bottom: 56px;
}

.imagebox {
  margin-left: 30px;
  width: 600px;
  height: 450px;
}

.imagebox img {
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  border-radius: 16px;
}

.arrowscontainer {
  position: absolute;

  .arrows {
    position: relative;
    right: -880px;
  }

  .rightarrow {
    margin-left: 85px;
  }
}

/* ----- TESTAMONIAL SECTION ------ */

.testcontainer {
  margin-top: 200px;
}

.testwrapper {
  display: flex;
  flex-direction: column;
  background: #f9fafb;
  border-radius: 100px 8px;
  margin: 0 50px;
}

.splide-home {
  .splide__slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
  }
}

.quotation {
  margin-top: 46px;
}

.headicons {
  align-self: center;
  display: flex;
  margin-bottom: 116px;
}

.icons {
  width: 48px;
  height: 48px;
  margin: 24px 24px 0 0;
  border-radius: 50px;

  &:last-child {
    margin-right: 0px;
  }

  &:hover {
    border-color: #fab91c;
    cursor: pointer;
  }
}

.icon1 {
  background-image: url(https://images.pexels.com/photos/3220360/pexels-photo-3220360.jpeg?cs=srgb&dl=pexels-nichole-sebastian-3220360.jpg&fm=jpg);
  background-position: center;
  background-size: cover;
}

.icon2 {
  background-image: url(https://images.pexels.com/photos/3220360/pexels-photo-3220360.jpeg?cs=srgb&dl=pexels-nichole-sebastian-3220360.jpg&fm=jpg);
  background-position: center;
  background-size: cover;
}

.icon3 {
  background-image: url(https://images.pexels.com/photos/3220360/pexels-photo-3220360.jpeg?cs=srgb&dl=pexels-nichole-sebastian-3220360.jpg&fm=jpg);
  background-position: center;
  background-size: cover;
}

/* --------- NEWS SECTION --------- */

.newscontainer {
  margin: 120px 0 120px 0;
}

.imgsection {
  display: flex;

  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
    justify-content: center;
  }

  @media screen and (max-width: 600px) {
    flex-direction: column;

    .col {
      width: 100%;
    }

    .box1,
    .box2,
    .box3 {
      background-position: unset;
    }
  }
}

.row {
  margin: 0 -15px;
}

.col {
  display: flex;
  width: 33.33%;
  padding: 0 15px;

  @media screen and (max-width: 800px) {
    width: 50%;
    margin-bottom: 30px;
  }
}

.news {
  height: 490px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 24px 24px 24px;
  width: 100%;
}

/* ------- INNER IMAGE SECTION ------- */

.innerimg {
  display: flex;
  flex-direction: column;
  align-content: center;
  background-color: white;
  width: 100%;
  height: 176px;
  border-radius: 60px 8px;
  padding-left: 40px;

  p {
    font-size: 20px;
    font-weight: 500;
    color: #0f1c49;
    line-height: 32px;
  }

  h2 {
    font-weight: 400;
    color: #878da4;
    font-size: 14px;
    line-height: 24px;
    margin-top: 40px;
  }
}

.box1 {
  background-image: url(https://images.pexels.com/photos/4721981/pexels-photo-4721981.jpeg?cs=srgb&dl=pexels-ali-pazani-4721981.jpg&fm=jpg);
  background-position: center;
  background-size: cover;
}

.box2 {
  background-image: url(https://images.pexels.com/photos/245388/pexels-photo-245388.jpeg?cs=srgb&dl=pexels-uus-supendi-245388.jpg&fm=jpg);
  background-position: center;
  background-size: cover;
}

.box3 {
  background-image: url(https://images.pexels.com/photos/3616937/pexels-photo-3616937.jpeg?cs=srgb&dl=pexels-h%E1%BA%A3i-nguy%E1%BB%85n-3616937.jpg&fm=jpg);
  background-position: center;
  background-size: cover;
}

.box-content {
  display: flex;
  align-items: center;

  p {
    color: black;
  }
}

// MEDIA QUERIES ----- 1242PX ----- //

@media screen and (max-width: 1242px) {
  .bgset1 {
    display: none;
  }

  .aboutuswrapper {
    .ptextright {
      margin-left: 0px;
    }

    .hyperlink {
      float: none;
      text-align: center;
    }
  }
}

// MEDIA QUERIES ---- 1200PX --------//

@media screen and (max-width: 1200px) {
  .topheadingwrapper {
    border-top: 1px solid grey;
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }

  .mainimage img {
    display: none;
  }

  .mainimage {
    margin-bottom: 60px;
  }

  .mainimage__overlay {
    position: unset;

    .flex-end {
      justify-content: center;
    }
  }

  .formcontainer {
    position: unset;
  }

  .aboutuscontainer {
    margin-top: 0;
    padding-top: 0;
  }

  .aboutuscontainer {
    justify-content: space-evenly;
    align-items: center;
    margin-left: 0;
  }

  .wrapperimg {
    max-width: 500px;
    width: 100%;
  }

  .aboutuswrapper {
    justify-content: flex-end;
    .ptextright {
      margin-left: 0px;
    }
  }

  .container {
    .pwrap h1 {
      text-align: center;
    }
  }
}

// MEDIA QUERIES ----- 1100PX ----- //

@media screen and (max-width: 1100px) {
  .servicecontainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    .servicestext {
      align-items: center;
      justify-content: center;

      .service__copy {
        margin-left: 0;
      }

      .servicebutton {
        margin-top: 30px;
      }
    }

    .gridcontainer {
      position: unset;
      margin: 40px;
    }
  }
}

// --- MEDIA QUERIES ----- 600wPX ----- //

@media screen and (max-width: 600px) {
  .aboutuswrapper {
    width: 100%;
  }

  .servicestext {
    width: 100%;
    margin-top: 0;
    margin-bottom: 50px;
  }
}

// --MEDIA QUERIES ----- 425PX MOBILE ----- //

@media screen and (max-width: 425px) {
  .formcontainer {
    margin: 0 10px;
    width: 100%;
    .formlayout {
      width: 100%;
    }
  }
}
