// ---------- BODY SECTION --------- //



.body-container {
    margin-top: 100px;

    h5 {
        margin-bottom: 15px;
    }

    p {
        text-align: center;
    }
}

.content-row_1 {
    margin-top: 124px;

}

.content-row_2 {
    margin-top: 80px;

}

.box {
    width: 370px;

    img {
        margin-bottom: 40px;
    }

    h2 {
        margin-top: 0px;
        margin-bottom: 24px;
    }

    p {
        width: 290px;
        text-align: center;

    }

    a {
        margin-top: 40px;
        font-family: 'Rubik';
        font-size: 14px;
        line-height: 24px;
        font-weight: 500;
        color: #08B3E3;
    }

}

.box5 a {
    margin-top: 179px;
    margin-bottom: 100px;
}