/* ---- FONT VARIABLES -----*/

$roboto: "Roboto Slab";
$rubik: "Rubik";

/* ---- FONT SIZE MIXINS ----*/

@mixin fontSize-56() {
  font-family: $roboto;
  font-weight: 700;
  font-style: normal;
  font-size: 56px;
  line-height: 72px;
}

@mixin fontSize-52() {
  font-family: $rubik;
  color: #12245f;
  font-size: 52px;
  line-height: 72px;
  font-weight: 300;
  font-style: normal;
}

/* ---- GLOBAL STYLES ----*/

p {
  font-family: $rubik;
  font-weight: 400;
  font-style: normal;
  color: #878da4;
  font-size: 16px;
  line-height: 28px;
  margin: 0px;

  @media screen and (max-width: 800px) {
    font-size: 20px;
  }
}

.heading--xl {
  @include fontSize-52();
}

.heading--small {
  font-family: $rubik;
  color: #09a4d8;
  font-size: 14px;
  line-height: 24px;
  font-weight: 500;
}

.heading--small--normal {
  font-family: $rubik;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  color: #878da4;
  margin: 0;
}

.heading--small--bold {
  font-family: $rubik;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}

.heading--med--bold {
  font-family: $rubik;
  font-size: 18px;
  line-height: 30px;
  font-weight: 500;
  margin: 0;
}

.title-banner {
  @include fontSize-56();
}

.heading--main {
  font-family: $rubik;
  color: #0f1c49;
  font-weight: 300;
  font-size: 48px;
  line-height: 67px;
  font-style: normal;
}

.heading--alternate {
  font-family: $roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 48px;
  margin-bottom: 0;

  span {
    font-weight: 700;
  }
}

.form--heading {
  font-family: $roboto;
  font-size: 32px;
  line-height: 48px;
  font-style: normal;
  font-weight: 400;
  color: #0f1c49;
  margin-top: 0px;
  margin-bottom: 24px;
  margin-top: 23px;
  margin-bottom: 23px;
  text-align: center;
}

input {
  font-family: $rubik;
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
  color: #878da4;
}

.sub-heading {
  font-family: $rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 24px;
  line-height: 38px;
}

.sub-heading-2 {
  font-family: $rubik;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 32px;
}

.testimonial-content {
  font-family: $roboto;
  font-weight: 300;
  font-style: normal;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
  width: 100%;
  max-width: 830px;
  margin-bottom: 64px;
}

li {
  font-family: "open sans", sans-serif;
  color: #878da4;
  font-size: 16px;
  line-height: 28px;
  margin: 0px;
  padding-bottom: 8px;
}

ul {
  margin: 0px;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {
  font-family: "Rubik";
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

textarea {
  font-family: "Rubik";
  line-height: 28px;
  font-size: 16px;
  font-weight: 400;
  font-style: normal;
}

.linkref1 {
  color: #09a4d8;
  font-family: "Rubik";
  font-size: 14px;
  font-weight: 500;
  font-style: normal;
}

header .linkref1 {
  margin-top: 176px;
  margin-bottom: 100px;
}
